html{
    scroll-behavior: smooth;
}
body{
    background-image: url(files/%D1%81%D1%8B%D1%80%D0%BA%D0%B8.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    min-width: 1000px;
    margin: 0;
    color:black;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Playfair Display', serif;
}

.container {
  max-width: 1000px;    
  margin: 0 auto;
  padding: 0 16px;   
}

/*  ВСТУПЛЕНИЕ  */

.introdaction .container p{   
    padding-top: 650px;    
    font-size: 40px;
}

.introdaction{
    margin-bottom: 60px;    
    text-align: center;
    color:black;
}

.introdaction .heading{
    top: 100px;
    background-color: rgba(64, 64, 58, 0.2);
    font-size: 80px;    
}

h1 {
  font-size: 22px;
  line-height: normal;
}

h2{
    font-size: 45px;
    line-height: 50px;
}

/*  ОГЛАВЛЕНИЕ  */

.oglavlenie .container{
    padding-bottom: 145px;
}

.oglavlenie{  
    padding: 20px;
    background-color: #ffefd5;
}

.oglavlenie  li:hover, .oglavlenie  li a:hover, .link a:hover{
    color: #654321;
}

.oglavlenie ol a{        
    color: black;
    text-decoration: none;
}

.container ol{    
    font-size: 30px;
    padding-bottom: 20px;
    padding-left:100px;    
    line-height: 45px; 
}

hr{
    background-color: #654321 ;
    height: 2px;
    color:red;
    border: none;
}

.oglavlenie h1{
    text-align: center;
    font-size: 50px;
}

/*  ВВЕДЕНИЕ  */

#intro{
    font-size: 30px;
    line-height: 45px; 
    padding: 20px;
    padding-bottom: 50px;
    margin: 0 0 0 0;
    background-color: #d58c57;
}

#intro h2{
    font-size: 45px;
}

#intro figure{
    margin: 0;     
    text-align: center;
}

figcaption{
    font-size: 20px;
    font-style: italic;
}

.link a{
     text-decoration: none;
     color: black;
}

.link {   
    padding-top: 90px;
    text-align: center;
}

/*   СЫРКИ №1   */

#first{
    line-height: 45px; 
    font-size: 30px;
    padding: 20px;
    margin: 0 0 0 0;
    background-color:#f6e1cf;
}

/*   СЫРКИ №2  */

#second{
    line-height: 45px; 
    font-size: 30px;
    padding: 20px;
    margin: 0 0 0 0;
    background-color:#c8b8a9;
}

/*   СЫРКИ №3  */

#cheap{
    line-height: 45px; 
    font-size: 30px;
    padding: 20px;
    margin: 0 0 0 0;
    background-color:#be935a;
}

/*  ПОСЛЕДНИЙ  */

#last{
    line-height: 45px; 
    font-size: 30px;
    padding: 20px;
    margin: 0 0 0 0;
    background-color:#b7410e;
}


/*  РЕКЛАМА  */

aside{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 45px;
}


/*  ЭПИЗОД  */

.episode{
    position: fixed;
    top: 0px;
    z-index: 1;
    left: 0px;
    border: none;
    width: 100%;
    height: auto;    
    font-size: 40px;    
    opacity: none;
    text-align: center;
    background-color: rgba(250, 229, 207, 0.7);
    font-family: 'Playfair Display', serif;
    box-shadow: 0px 2px 4px 2px rgba(72, 60, 50, 0.3); 
}

.hide{
    visibility: hidden;
}















.menu ul{
    padding: 5px;
    list-style-type: none;
    background-color: aquamarine;
    line-height: 30px; 
}

.menu a{
    color:blueviolet;
}

.podval {
  padding: 40px 0;
  background-color: #260c26;
}